.main {
  background-color: rgba(238,238,238,0.7) !important;
  width: 800px;
  border-radius: 15px;
  height: 300px;
  display: flex;
  justify-content: flex-start;
}
input{
    text-align: center;
}
.matIconQuote{
color:#673AB7 !important;
font-size: xx-large;
}
h3{
    font-style: italic;
}
button{
    margin:15px;
    background-color: #673AB7;
    color:#fff;
}
.columnForm {
  width: 50%;
  float: left;
  display: flex;
  margin: 15px;
  flex-direction: column;
  justify-content: flex-start;
}
.columnList {
  width: 50%;
  display: flex;
  float: right;
  justify-content: space-between;
  margin: 5px;
  border-radius: 15px;
}
mat-nav-list{
    width: 100% !important;
}
