.eventPage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 80%;
}
.eventsControl {
  border-bottom: 2px solid #924d75;
  padding: 3rem;
  margin-top: 10rem;
  width: 100%;
}
.EventForm {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.EventForm > * {
  margin: 5px !important;
  width: 100% !important;
}
