body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button,
.btn {
  font: inherit;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
}
.secondary{
  background-color:#C51162 ;
    color: #fff;
}
.List{
  max-width: 90%;
  list-style: none;
  }
.ListItem{
  border-left: 4px solid #924D75 !important;
  margin-top: 0.5rem !important;
  display: flex;
  justify-content: space-between;
}
.ListItemBooking{
  border-bottom: 4px solid #924D75 !important;
  margin-top: 0.5rem !important;
  display: flex;
  justify-content: space-between;
}