body{
    background-image: url('./assets/backImage.jpg');
    background-repeat: no-repeat;
    display: flex;
  align-items: center;
  justify-content: center;
}
html, body { height: 100%;     width: 100%;}
body { margin:auto; font-family: Roboto, "Helvetica Neue", sans-serif; }
