.auth-form{
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}
.form-control label{
    margin-bottom: 0.5rem;
}
.form-control{
    margin-bottom: 1rem;
}

.form-actions button {
    font:inherit;
    outline: none;
    border-radius: 5px;
    padding:  0.25rem 1rem;
    margin-right:  1rem;
    cursor: pointer;
}
