.Spinner{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.bookingPage {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 80%;
  padding: 3rem;
  margin-top: 5rem;
}